.mainWrapper {
  padding: 10px 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid antiquewhite;
  cursor: pointer;
  color: #fff;
}

.mainWrapper:hover {
  filter: brightness(200%);
}

.avatarWrapper {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-size: 100%;
  position: relative;
  margin-left: 1vw;
}

.avatarWrapper::after {
  position: absolute;
  background-image: url('../../../Images/Status-user-online-icon.png');
  background-size: 10px 10px;
  width: 10px;
  height: 10px;
  bottom: 5px;
  right: 5px;
  content: '';
}

.contactInfo {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.historyConversation {
  font-size: 12px;
  font-style: italic;
  margin-top: 2px;
}

.correspondenceConversation {
  margin-top: 5px;
  font-size: 12px;
  font-style: italic;
}

.dateOfConversation {
  font-size: 0.5vw;
  font-style: italic;
  display: flex;
  margin-left: auto;
}